/* Footer container */
.footer {
  background-color: #505050; /* Dark background color */
  color: #fff; /* Text color */
  padding: 40px 0; /* Padding for spacing */
}

/* Footer content wrapper */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Footer links */
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f0ebd0; /* Change link color on hover */
}

/* Encouraging sentence */
.footer-content p {
  flex: 1;
  text-align: center;
  margin: 20px 0;
}

/* Footer contact information */
.footer-contact {
  flex: 1;
  text-align: center;
}

.footer-contact h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-contact p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.footer-contact p svg {
  margin-right: 10px;
}

/* Location text */
.location-text {
  font-style: italic;
}

/* Footer bottom */
.footer-bottom {
  background-color: #576f72;
  padding: 10px 0;
  text-align: center;
  color: #f0ebe3;
  font-weight: 600;
}

/* Copyright link */
.footer-bottom a {
  color: #f0ebbe;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #fff; /* Change link color on hover */
}

