Reset default margins and paddings
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  h3 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .introduction p,
  .strategy p,
  .project-card p {
    line-height: 1.5;
  }
  
  .introduction p {
    margin-bottom: 15px;
  }
  
  .strategy p {
    margin-bottom: 10px;
  }
  
  .projects {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  
  .project-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Add this CSS to your component's CSS file */
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.card h3 {
  margin: 0;
  padding: 5px;
}

.card.expanded {
  height: auto;
  border: 1px solid #333;
  box-shadow: 0px 0px 10px 0px #333;
  background-color: #f0f0f0;
}

.card.expanded p {
  margin: 10px 0;
}
/* Apply hover styles */
.home-page-card:hover {
  transform: scale(1.05); /* Enlarge the card slightly on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
  cursor: pointer;
}
/* Add this CSS for the button */
.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none; /* Remove underline from the button */
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}









  